:root {
  --mocha-rosewater: #f7e0de;
  --mocha-flamingo: #f4cdd0;
  --mocha-pink: #f7bfea;
  --mocha-mauve: #cda6fc;
  --mocha-red: #f788a9;
  --mocha-maroon: #ef9faf;
  --mocha-peach: #fdb286;
  --mocha-yellow: #fce3b1;
  --mocha-green: #a6e6a3;
  --mocha-teal: #94e5da;
  --mocha-sky: #88def1;
  --mocha-sapphire: #73c8f2;
  --mocha-blue: #8ab5ff;
  --mocha-lavender: #b3bbff;
  --mocha-text: #ced6f8;
  --mocha-subtext1: #bac1e3;
  --mocha-subtext0: #a5accf;
  --mocha-overlay2: #9498b3;
  --mocha-overlay1: #7d819b;
  --mocha-overlay0: #6c6e84;
  --mocha-surface2: #585a6f;
  --mocha-surface1: #454659;
  --mocha-surface0: #313144;
  --mocha-base: #1c1b2c;
  --mocha-mantle: #181726;
  --mocha-crust: #100f1a;
}
