:root {
    --mocha-rosewater: #f6dfdb;
    --mocha-flamingo: #f3cdcd;
    --mocha-pink: #f6c1e8;
    --mocha-mauve: #caa4f9;
    --mocha-red: #f58aa8;
    --mocha-maroon: #ec9caa;
    --mocha-peach: #fcb183;
    --mocha-yellow: #fae2ad;
    --mocha-green: #a5e59f;
    --mocha-teal: #91e3d6;
    --mocha-sky: #87deed;
    --mocha-sapphire: #72c7ee;
    --mocha-blue: #88b4fc;
    --mocha-lavender: #b3bdff;
    --mocha-text: #ccd5f5;
    --mocha-subtext1: #b9c1df;
    --mocha-subtext0: #a4accb;
    --mocha-overlay2: #969bb0;
    --mocha-overlay1: #818598;
    --mocha-overlay0: #6e7181;
    --mocha-surface2: #5a5d6c;
    --mocha-surface1: #474957;
    --mocha-surface0: #333442;
    --mocha-base: #1f1f2d;
    --mocha-mantle: #191924;
    --mocha-crust: #12121c;
}
